@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "./style.scss";
@import "./reset.scss";

$black: #000;
$white: #fff;
$navactive: #1f1534;
$nav-nonactive: rgba(31, 21, 52, 0.5);
$acent-text-color: #7d7987;
$acent-color: #458ff6;
$acent-darkblue--color: #4089ed;

* {
  font-family: "Mulish", sans-serif;
}

.line {
  width: 4rem;
  border-width: 1.9px;
  border-color: $black;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  &-container {
    display: flex;
    gap: 2.5rem;
    align-items: center;

    &-link {
      @include text($nav-nonactive, 18px, 23px, 400);
      text-decoration: none;
      font-family: "Mulish", sans-serif;
    }

    .active {
      color: $black;
      font-weight: 700;
    }
  }
}

#dots {
  position: absolute;
  left: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 4rem;
  margin-bottom: 12rem;
  &-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-title {
      @include text($black, 48px, 56px, 700);
      font-family: "Mulish", sans-serif;
    }

    &-caption {
      @include text($acent-text-color, 21px, 32px, 300);
      font-family: "Mulish", sans-serif;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 60px;
      border-radius: 3.5rem;
      background-color: $acent-color;
      color: $white;
      font-size: 18px;
      line-height: 60px;
      font-weight: 700;
      font-family: "Mulish", sans-serif;

      margin-top: 1.5rem;
      cursor: pointer;
    }
  }
}

#circlebg {
  position: absolute;
  left: 0;
  z-index: -1;
}
#secondDots {
  position: absolute;
  right: 400px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;

  &-title {
    @include text($black, 36px, 56px, 700);
    font-family: "Mulish", sans-serif;
    margin-bottom: 0.4rem;
  }

  &-caption {
    @include text($acent-text-color, 18px, 30px, 300);
    font-family: "Mulish", sans-serif;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  &-card {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    &-item {
      width: 21.8rem;
      height: 21.9rem;
      border-radius: 2rem;
      box-shadow: 0px 1px 2px 0px rgba(69, 143, 246, 0.5);
      background-color: $white;

      display: flex;
      flex-direction: column;
      padding: 3.2rem 2.7rem 2.9rem 2.7rem;
      transition: 333ms ease-out;

      &:hover {
        box-shadow: 2px 2px 15px 0px rgba(69, 143, 246, 0.5);
      }

      &-img {
        width: 5rem;
        height: 5.5rem;
      }

      &-title {
        @include text($black, 24px, 56px, 700);
        font-family: "Mulish", sans-serif;
        margin-top: 1.4rem;
      }

      &-description {
        @include text($acent-text-color, 16px, 28px, 300);
        font-family: "Mulish", sans-serif;
      }
    }
  }

  &-button {
    @include button();
    font-family: "Mulish", sans-serif;
  }
}
